!!! 5
%html
  %head
    %title VoteNow!
    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'qr-table'
    = stylesheet_link_tag 'votings'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    = javascript_include_tag 'bootstrap.min'
    = csrf_meta_tags
  %body
    #main-content.container
      = yield
